.DS_Store
2DRacing/2DRacing.xcodeproj/xcuserdata/damirnuriev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2DRacing/2DRacing.xcodeproj/xcuserdata/damirnuriev.xcuserdatad/xcschemes/xcschememanagement.plist
2DRacing/2DRacing.xcodeproj/xcshareddata/xcschemes/2DRacing.xcscheme
2DRacing/2DRacing.xcodeproj/project.xcworkspace/xcuserdata/damirnuriev.xcuserdatad/UserInterfaceState.xcuserstate
